:root {
    --bg-color: black;
    --main-text-color: white;
    --main-brand-color: #ff1e9b;
    --main-brand-contrast-color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.main {
    color: var(--main-text-color);
    background-color: var(--bg-color);
}
a {
    text-decoration: none;
}

