.header {
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    z-index: 99;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
    img {
        width: 20%;
        max-width: 300px;
        min-width: 180px;
    }
}
.header .nav .list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}