.main {
    width: 90%;
    margin: 0 auto;
    max-width: 768px;
}
.info {
    .assets {
        display: flex;
        justify-content: center;
        position: relative;
        img {
            width: 16em;
            position: relative;
        }
        video {
            position: absolute;
            top: 30px;
            width: 10em;
        }
    }
}

@media screen and (width > 768px) {
    .info {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 20px;
        max-width: 560px;
        justify-content: center;
        margin: 0 auto;
    }
}